
button {
    font-size: 32px;
    padding: 8px 32px;
    display: flex;
    justify-self: center;
    border-radius: 8px;
    background-color: rgb(246, 204, 88);
    color: rgb(255, 255, 255);
    cursor: grab;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}
